<title><%= full_title(yield(:title)) %></title>   

<!DOCTYPE html>



<html>
  <head>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
        <%= render 'layouts/shiv' %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
          <% flash.each do |key, value| %>
        <div class="alert <%= bootstrap_class_for(key) %>"><%= value %></div>
      <% end %>
    <%= render 'layouts/header' %>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>



